:80 {
    # Basic Auth cho quyền cá nhân
    basicauth / {
        {$BASIC_AUTH_USERNAME} {$BASIC_AUTH_PASSWORD_HASH}
    }

    # Proxy vào giao diện web (cũng là cổng vào API nội bộ)
    reverse_proxy webapp:80

    encode zstd gzip
}